.map {
  height: 35%;
  width: 30%;
}

.input-title {
  position: relative;
  width: 30%;
}
.description-title{
  position: relative;
  width: 30%;
}

.item {
  background-color: #222222;
  height: 45px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.target{
  background-color: orangered;
}
.delete{
  position: relative;
  width: 30%;
  background-color: orangered;
}
.in{
  position: relative;
  margin-left: 400px;
}
.rc-draggable-list{
  margin-left: 70%;
  width: 30%;
}
.rc-draggable-list-handles{
  opacity: 0;
}

@media only screen and (max-width: 500px){
    .delete{
      position: relative;
      width: 30%;
      background-color: aqua;
    }
}
